:root {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;

}

main {
  margin: 0 200px 0 200px;
}

h2 {
  font-size: 150%;
  width: 100%;
}

p {
  width: 100%;
  font-size: 110%;
  position: relative;
}

a {
  text-decoration: none;
  color: #767474;
  font-size: 120%;
}

header h1{
  text-align: center;
  font-size: 175%;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0%;
  margin-top: 2.5%;
  cursor: pointer;
}

.banner-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1% 1.75% 1% 1.75%;
}

.menu {
  display: inline-flex;
  list-style: none;
  font-size: 90%;
  color: #767474;
  cursor: pointer;
}

.menu li {
  padding-right: 30%;
}

.right-menu ul {
  position: relative;
  padding-left: 60%;
}

.active {
  /*color: black !important;*/
  text-decoration: underline;
  text-underline-position: under;
}

@media (min-width: 400px) {
  .banner-grid-container {

  }
}

/*
header h1:hover {
  animation-name: rainbow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  50% {
    color: pink;
  }
}
*/

/* .content-grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
} */

.content-grid-container{
  display: flex;
  align-items: center;
  padding-top: 4%;
}

.content-grid-container > div {
  margin: 25px;
}

.about-left-container {
  display: flex;
  justify-content: flex-end;
  height: 70%;
  width: 50%;
}

.about-right-container {
  display: flex;
  width: 50%;
  height: 70%;
  justify-content: flex-start;
}

.about-picture {
  width: 70%;
  height: 100%;
  /*
  border-color: pink;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  /*box-shadow: 5px 5px hsl(0, 40%, 85%);*/
  background-color: hsl(0, 40%, 95%);
}

.about-text {
  position: relative;
  width: 75%;
}

@media (max-width: 350px) {
   .about-text p {
    font-size: 200%;
  }
}

footer {
  position: relative;
  text-align: center;
  margin-top: 15%;
}

footer ul li{
  list-style: none;
  text-align: center;
  display: inline-flex;
  margin-right: 2.75%;
  font-size: 150%;
}

footer a {
  color: #767474;
}

footer a:hover {
  color: #B2B1B1;
}
